@model IEnumerable<Product>
@{
    ViewData["Title"] = "MyProducts";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@if (!Model.Any())
{
    <div class="alert alert-warning">
        <h3>No Products in our system</h3>
    </div>
}
else
{
    <table>
        <thead>
        <th>Name</th>
        <th>Price</th>
        <th>Category</th>

        </thead>
        <tbody>
            @foreach (var product in Model)
            {
              
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Category.Name</td>

                </tr>
            }
        </tbody>
    </table>
}

