<div class="">
    <!-- Jumbotron -->
    <div class="bg-image p-5 text-center shadow-1-strong rounded m-0 p-0 mb-5 text-white"
         style="background-image: url('https://mdbcdn.b-cdn.net/img/new/fluid/nature/015.webp');
            background-size:cover;min-height: max-content">
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Welcome To Our Studio!</div>
                <div class="masthead-heading text-uppercase">It's Nice To Meet You</div>
                <a class="btn btn-primary btn-xl text-uppercase" href="#advertisement">Tell Me More</a>
            </div>
        </header>

        <section class="page-section mt-4" id="services">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Services</h2>
                    <h3 class="section-subheading text-muted">Enjoy the best services offered by our website.</h3>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">E-Commerce</h4>
                        <p class="text-muted">Add and offer your tech products for sale through our e-commerce service.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Our Products</h4>
                        <p class="text-muted">The latest computers, mobiles, tablets and all electronic devices at prices suitable for everyone.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Site Guarantees</h4>
                        <p class="text-muted">We offer you guarantees regarding buying and selling operations through our website.</p>
                    </div>
                </div>
            </div>
        </section>
        <br />
        <section class="page-section mt-4" id="advertisement">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Teck Market - Your One-Stop Shop for All Your Needs</h2>
                    <h3 class="section-subheading text-muted">Are you looking for a reliable and convenient marketplace to fulfill your daily shopping needs? Look no further than Teck Market!</h3>
                    <h4 class="section-subheading text-muted">Teck Market is a leading online platform that offers a wide range of high-quality products at competitive prices. From household essentials to the latest electronics, we have it all. Our user-friendly interface and fast, secure delivery make shopping a breeze.</h4>
                </div>
              
            </div>
        </section>

    </div>
    <!-- Jumbotron -->
</div>