html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
/*    display: flex;
    flex-direction: column;
    min-height: 100vh;*/
}
/*footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}*/
.cover-preview {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
/*footer{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
}*/
.star-rating {
    direction: rtl;
    unicode-bidi: bidi-override;
    color: #c8c8c8;
    font-size: 2em;
    display: inline-block;
}

    .star-rating input {
        display: none;
    }

    .star-rating label {
        cursor: pointer;
        padding: 0 0.1em;
        transition: color 200ms;
    }

        .star-rating label:hover,
        .star-rating label:hover ~ label,
        .star-rating input:checked ~ label {
            color: #ffd700;
        }

.navbar {
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (max-width: 991.98px) {
    .navbar .navbar-toggler {
        margin-left: auto;
    }
}

