html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;

    /*    display: flex;
    flex-direction: column;
    min-height: 100vh;*/
}
/*footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}*/
.cover-preview {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.star-rating {
    direction: rtl;
    unicode-bidi: bidi-override;
    color: #c8c8c8;
    font-size: 2em;
    display: inline-block;
}

    .star-rating input {
        display: none;
    }

    .star-rating label {
        cursor: pointer;
        padding: 0 0.1em;
        transition: color 200ms;
    }

        .star-rating label:hover,
        .star-rating label:hover ~ label,
        .star-rating input:checked ~ label {
            color: #ffd700;
        }

.navbar {
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (max-width: 991.98px) {
    .navbar .navbar-toggler {
        margin-left: auto;
    }
}

.navbar-brand {
    color: #FFD700; /* Light blue color */
}
    .navbar-brand:hover {
        color: #FFD700; /* Gold color on hover */
    }
.navbar-nav .nav-link,
.navbar-nav .dropdown-item {
    color: #add8e6; /* Light blue color */
}

    /* Change the text color on hover */
    .navbar-nav .nav-link:hover,
    .navbar-nav .dropdown-item:hover {
        color: #FFD700; /* Gold color on hover */
    }


header.masthead .masthead-heading {
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 3.25rem;
    margin-bottom: 2rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
@media (min-width: 768px) {
    header.masthead {
        padding-top: 17rem;
        padding-bottom: 12.5rem;
    }

        header.masthead .masthead-subheading {
            font-size: 2.25rem;
            font-style: italic;
            line-height: 2.25rem;
            margin-bottom: 2rem;
        }

        header.masthead .masthead-heading {
            font-size: 4.5rem;
            font-weight: 700;
            line-height: 4.5rem;
            margin-bottom: 4rem;
        }
}

/* Set the background color of the dropdown menu */
.dropdown-menu {
    background-color: #333; /* Dark color */
}

/* Set the text color of the dropdown items */
.dropdown-item {
    color: #add8e6; /* Light blue color */
}

    /* Change the text color of the dropdown items on hover */
    .dropdown-item:hover {
        color: #FFD700; /* Gold color on hover */
        background-color: #444; /* Slightly darker background on hover */
    }
/* Change the color of the navbar toggler button */
.navbar-toggler {
    border-color: #FFD700; /* Gold border color */
    background-color: #FFD700; /* Gold background color */
    color: #333; /* Dark text color */
    margin-right: 2rem;
}

/* Change the color of the navbar toggler icon */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='%23333' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.bg-image {
    height: 100%;
    width: 100%;
    
    top: 0;
    left: 0;
    z-index: -1;
}
a {
    text-decoration: none;
}

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

    .social-link:hover,
    .social-link:focus {
        background: #ddd;
        text-decoration: none;
        color: #555;
    }

.progress {
    height: 10px;
}
/*.card {
    border: 3px solid #ffd700;*/ /* Gold border */
    /*border-radius: 0.5rem;*/ /* Adjust the border radius as needed */
    /*box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);*/ /* Add a subtle box shadow */
/*}*/
.card_index {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card_index_body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 767.98px) {
    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 575.98px) {
    .col-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}


.img-preview {
    box-shadow: 0 0 15px 5px rgba(0, 123, 255, 0.8);
    transition: box-shadow 0.3s ease-in-out;
}

    .img-preview:hover {
        box-shadow: 0 0 20px 8px rgba(0, 123, 255, 0.8);
    }

.popup-container {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.3s, visibility 1.3s;
}

    .popup-container.fade-in-out {
        opacity: 1;
        visibility: visible;
    }

.popup-content {
    background-color: #000;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    color: #ffd700;
}

.close-button {
    color: #ffd700;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close-button:hover,
    .close-button:focus {
        color: #ffff00;
        text-decoration: none;
        cursor: pointer;
    }
